#banner
	.banner_content
		%h1 Note Here..!s
		%P Your online notebook. Never forget an idea again.
		%button= link_to "Sign Up", new_user_registration_path

#testimonial
	.wrapper
		%p.quote "The greatest notebook application. period."
		%p.name --Wasim Raza

#callouts
	.callout_inner
		.wrapper
			.callout
				%i.fa.fa-address-book
				%h2 Notes
				%p Your Notes are now online. open your notes first night before exams starts. Go and play the games you want.

			.callout
				%i.fa.fa-book
				%h2 Books
				%p Your Notes are now online. open your notes first night before exams starts. Go and play the games you want.
			.callout
				%i.fa.fa-graduation-cap
				%h2 Exams
				%p Your Notes are now online. open your notes first night before exams starts. Go and play the games you want.


#bottom_cta
	.wrapper
		%h2 for your Notes
		%p i want you to sign up...
		%button= link_to "Click Meee...!!!", new_user_registration_path

%footer
	%p &copy; Wasim Raza